#logo{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

#logo-github{
	width: 65px;
	height: 55px;
}

.center{
	text-align: center;
}

.link-github:link, .link-github:hover, .link-github:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

no-margin{
	margin: 0;
}